.theme-text{
    color:var(--button-color) !important ;
}

.theme-icon {
    color: var(--icon-color);
}
.theme-bg {
    background-color: var(--main-bg);
}
.theme-btn{
    background-color: var(--button-color);
}